input {
  padding-left: 15px;
  color: white;
  border: 0.5px solid #353434;
  font-size: 20px;
  width: 650px;
  height: 45px;
  background-color: #121212;
}
iframe {
  border: 0px;
}
#input_div {
  margin: auto;
  height: 80px;
  width: 900px;
  /* border:solid pink; */
  display: flex;
  margin-top: 8px;
  margin-left: 100px;
}
body {
  background-color: #181818;
}
button {
  background-color: #313131;
  cursor: pointer;
  width: 80px;
  height: 50px;
  /* margin-top: 10px; */
  border: 0px;
}
#navdiv {
  display: flex;
  height: 70px;
  width: 100%;
  margin: auto;

  background-color: #202020;
}
#sdiv {
  border-radius: 50%;
  background-color: #121212;
  width: fit-content;
  height: fit-content;
  padding: 5px 8px;
  margin-left: 10px;
}
#leftnav > img:nth-child(1) {
  margin-left: 20px;
  margin-top: 13px;
  width: 30px;
  height: 30px;
}
#leftnav > img:nth-child(2) {
  margin-top: -15px;

  width: 130px;
  height: 80px;
  margin-left: -5px;
}
#leftnav {
  display: flex;
}

h1 {
  color: white;
  /* border: solid skyblue; */
  font-family: "Times New Roman";
  height: fit-content;
  margin: auto;
  margin-left: -34px;
}
.right {
  display: flex;
  justify-content: space-around;
}
#profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.right {
  margin: auto;
  margin-top: 9px;
  width: 400px;
  height: 40px;
}
.right > img {
  margin-left: 20px;
  /* border: 1px solid blue ; */
}
#container {
  display: flex;
  height: 600px;
  gap: 30px;
  margin-top: 30px;
}
#playing_video {
  flex: 3;
  /* border: solid skyblue; */
  margin-left: 40px;
}
#recommend_video {
  flex: 1.5;
  border: solid orange;
  margin-right: 30px;
}
