img{
    width:100%;
}
#game{
    display: flex;
    width:100%;
    
}
#sidebar{
    flex:1;
    border:1px solid red;
}
#grid{
    flex:4;
    display: flex;
    flex-wrap: wrap;
    border:1px solid blue;
    gap: 20px;
}
#grid>div{
    border: 1px solid green;
    width:30%;
}
