#main {
  width: 30%;
  border-radius: 10px;
  /* border:solid red; */
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#main > div:nth-child(1) {
  color: rgb(255, 0, 106);
  font-size: 40px;
  width: 30%;
  margin: auto;
  margin-top: 20%;
  padding-top: 10%;
}
#main > div:nth-child(2) {
  font-size: 25px;
  /* border:solid green; */
  width: 80%;
  margin: auto;
}
#main > #last {
  font-size: 20px;
}
input {
  width: 90%;
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 3%;
  border-radius: 10px;
  font-size: 20px;
}
#sub {
  background-color: hsl(354, 83%, 62%);
  border: 0px;
  width: 65%;
  color: white;
  font-size: 20px;
  margin-left: 16%;
  margin-top: 10%;
}
#sub:hover {
  background-color: rgb(236, 56, 74);
  cursor: pointer;
}
#lastdiv {
  font-size: 20px;
  margin-top: 9%;
  text-align: center;
  padding-bottom: 10%;
  /* border:solid */
}
#lastdiv > p > span > a {
  color: rgb(4, 57, 126);
}
